.carouselFrame
{
   position: relative;
   background-image: url('../../cssimages/blue_soft_bg.png');
   background-size: cover;
   background-repeat:no-repeat;
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   z-index: 9999;
}

.carouselFrame img{
   /*height: 100%;*/
   /*width: 100vw;*/
   zoom: 300%;
}
