.carouselFrame
{
   position: relative;
   background-image: url('../../cssimages/blue_soft_bg.png');
   background-size: cover;
   background-repeat:no-repeat;
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   z-index: 9999;
}

.carouselFrame img{
   height: 100%;
   width: 100vw;
}

.carouselFrame .carouselFrameCaption {
   /*float: left;*/
   position: absolute;
   left: 0px;
   top: 50vh;
   z-index: 1000;
   padding: 5px;
   width: 100%;
   height: 65vh;

}


.carouselFrameCaption .carouselFrameCaptionItem1
{
   font: normal normal 800 2.5em Poppins;
   color: #FFFFFF;
   text-shadow: 5px 5px 5px #00000057;
}


.carouselFrameCaption .carouselFrameCaptionItem2
{
   font: italic normal bold 2.5em Lora;
   letter-spacing: 0px;
   color: #0088D1;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   margin-left: 3vw;
   padding-top: 0vh;
   padding-bottom: 0vh;
   padding-left: 3.5vw;
   padding-right: 3.5vw;
}

.carouselFrame .carouselLastItem
{
   position: inherit!important;

}

.carouselLastItem .carouselFrameCaptionItem1, .carouselLastItem .carouselFrameCaptionItem2
{
   display: none;
}

.carouselFrameCaption .carouselFrameCaptionItem1-mobile, .carouselFrameCaptionItem2-pre
{
   font: normal normal 800 5.5em Poppins;
   color: #FFFFFF;
   text-shadow: 5px 5px 5px #00000057;
}



.carouselFrameCaptionItem2-pre
{
   margin-left: -20vw;
   font: normal normal 800 4.5em Poppins;
}

.carouselFrameCaption .carouselFrameCaptionItem2-mobile
{
   font: italic normal bold 4em Lora;
   letter-spacing: 0px;
   color: #0076B5;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   margin-left: 6vw;
   padding-top: 0vh;
   padding-bottom: 0vh;
   padding-left: 3.5vw;
   padding-right: 3.5vw;
}

.margin-left
{
   float: right;
   overflow: hidden;
}

.align-left
{
   display: inline-grid;
   text-align: left;
}


.carouselFrameCaption .carouselEndingPreText
{
   font: normal normal 800 1.4em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   margin-bottom: -1vh;
   width: 70vw;
   /*text-align: left;*/
}


.carouselLastItem{
   margin-top: 30vh;
   margin-left: 35vw;
}


.carouselLastItemGroup
{
   position: relative;
   margin-left: 8vw;
}

.carouselLastItemGroup2
{
   position: absolute;
   text-align: left;
   padding-top: 16vh;
}


.layer-1
{
   width: 100vw;
   height: 100vh;
   z-index:99;
}

.layer-1-sub-text
{
   display: none;
}

.layer-1-overlay
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("../../cssimages/index_bg_pattern.png");
   background-repeat: repeat;
   opacity: 0.1;
   transform: scale(1);
}

.bannerFrame
{
   position: relative;
   background-image: url('../../cssimages/blue_soft_bg.png');
   background-size: cover;
   height: 100vh;
   background-repeat:no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   z-index: 9999;
   overflow: hidden;
}

.bannerFrame .mainBanner
{
   z-index: 99;
   position: absolute;
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   text-align: center;
}

.bannerFrame .mainBanner img
{
   transform: scale(1.5);
   height: 65vh;
   width: 100vw;
   margin-top: 20vh;
}



.main_banner_text_group
{
   position: absolute;
   top: 62vh;
   left: 10vw;
   z-index: 999;
   width: 45vw;
}

.main_banner_text
{
   font: normal normal 800 2em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   background: #002E45 0% 0% no-repeat padding-box;
   border-radius: 10px 10px 0px 10px;
   padding: 0.025em 0.5em 0.025em 0.5em;
   word-spacing: 0.1em;
   width: 75vw;
   text-align: center;
}

.main_banner_text_action_section_white_bar
{
   width: 2vw;
   height: 5px;
   padding-left: 15vw;
   background: white;
   float: right;
   margin-right: -30vw;
}

.main_banner_text_action_section button
{
   float: left;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-radius: 0px 0px 10px 10px;
   padding: 1.5vh 1.5vw 1.5vh 1.5vw;
   text-align: center;
   font: normal normal 600 1em Poppins;
   letter-spacing: 0px;
   color: #00A6FF;
   border: none;
   width: 30vw;
   margin-left: 18vw;
}

.main_banner_text span
{
   font: italic normal bold 1em Lora;
   letter-spacing: 0px;
   color: #00A6FF;
}


/*##################### Layer 2 Section ##################*/
.layer-2
{
   background: transparent radial-gradient(closest-side at 50% 50%, #023550 0%, #000000 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
   z-index:99;
   position:relative;
   padding-top: 8vh;
}

.layer-2-main-text-group
{
   text-align: center;
}
.layer-2-main-text
{
   margin: 0 auto;
   color: #33B8FF;
   font: normal normal bold 1.6em Poppins;
   letter-spacing: 0px;
   width: 70vw;
}

.layer-2-main-text span
{
   color: white;
}

.layer-2-main-text-2
{
   text-align: center;
   font: normal normal 200 1em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   width: 60vw;
   margin: 1.5em auto;
   margin-bottom: 2vh;
}


.layer-2-main-iphone-group
{
   margin-top: 10em;
   width: 100%;
   display: flex;
}



.iphone-feature-pod
{
   display: none;
}


.iphone_frame
{
   width: 80vw;
   margin-top: -20vh;
   margin-left: -20vw;
}

.layer-2-main-iphone-group .col-4:nth-child(2)
{
   /*position: absolute;*/
}
.layer-2-main-iphone-group .col-4:nth-child(2) button
{
   color: white;
   background: #24A361;
   text-align: center;
   font: normal normal normal 1em Poppins;
   letter-spacing: 0px;
   border-radius: 10px;
   border: none;
   padding: 1.5vh 1.5vw 1.5vh 1.5vw;
   position: relative;
   bottom: 10vh;
   left: -10vw;
   width: 50vw;
}

.layer-2-main-iphone-group .col-4:nth-child(2) button img
{
   width: 0.8em;
   margin-right: -8px;
}

.iphone_frame_mobile_cards
{
   position: absolute;
   display: flex;
   background: rgba(0, 13, 20, 0.7);
   padding: 3vh 3vw 3vh 3vw;
   margin-top: -40vh;
   width: 100vw;
   margin-left: -40vw;
   padding-left: 5vw;
   z-index: 999;
}

.iphone_frame_mobile_cards .iphone-feature-pod-mobile
{
   display: block;
}

.iphone-feature-pod-mobile
{
   border: 2px solid #00A6FF33;
   border-radius: 10px;
   opacity: 1;
   padding: 2em 2em 1em 2em;
   height: 16vh;
   width: 30vw;
   max-height: 10em;
   text-align: center;
   vertical-align: center;
   margin-right: 6vw;
}

.iphone-feature-pod-mobile:hover{
   box-shadow: 0px 0px 20px #00A6FF;
}

.iphone-feature-pod-mobile img
{
   width: 8vw;
}

.iphone-feature-pod-mobile label
{
   text-align: center;
   font: normal normal 500 0.7em Poppins;
   letter-spacing: 0px;
   color: #00A6FF;
   padding-top: 15px;
   width: 10vw;
}


/*##################### Layer 3 Section ##################*/

.layer-3
{
   position: relative;
   background: white;
   text-align: center;
   height: 140vh;
}

.layer-3-ribbon
{
   display:block;
   position: relative;
}

.layer-3-ribbon-title
{
   margin-top: 8vh;
   font: normal normal 600 1em Poppins;
   color: #24A361;
   margin-bottom: 5vh;
}

.layer-3-ribbon-groups-title-image img
{
   width: 100%;
   max-width: 14vw;
   margin-top: 2vh;
}

.layer-3-ribbon-groups-title label
{
   margin-top: 2vh;
   width: 60vw;
   font: normal normal 600 1.3em Poppins;
   letter-spacing: -0.9px;
   color: #195E80;
   margin-bottom: 1.5vh;
}

.layer-3-ribbon-groups-content
{
   display: block;
   font: normal normal normal 1em Poppins;
   letter-spacing: 0px;
   color: #505050;
   margin-bottom: 6vh;
}


/*##################### Layer 4 Section ##################*/

.layer-4
{
   padding-top: 15vh;
   background: #EDF2F5;
   opacity: 1;
   height: 125vh;
   text-align: center;
}

.layer-4-section img
{
   width: 90vw;
   position: absolute;
   margin-top: -8vh;
   margin-left: -45vw;
}

.layer-4-section:first-child
{
   position: absolute;
   margin-top: 30vh;
}

.layer-4-section-button button
{
   background: #24A361;
   font: normal normal 400 0.8em Poppins;
   border: none;
   border-radius: 10px;
   color: white;
   padding: 1em 2em 1em 2em;
   margin-top: 6vh;
   cursor: pointer;
}

.layer-4-section-title
{
   color: #24A361;
   font: normal normal 600 1em Poppins;
   letter-spacing: 2px;
}
.layer-4-section-body
{
   font: normal normal 500 1em Poppins;
   letter-spacing: 0px;
   color: #505050;
   width: 80%;
   padding-top: 4vh;
   line-height: 1.6em;

}

/*##################### Layer 5 Section ##################*/

.layer-5
{
   opacity: 1;
   z-index:99;
   position:relative;
   /*height:100vh;*/
}


.layer-5-section-1
{
   background: #012E45;
   height:100vh;
   margin-top: -1vh;
   text-align: center;
}

.layer-5-section-1 img
{
   width: 45vw;
   object-fit: contain;
   margin-top: 2vh;
   margin-left: 15vw;
   margin-right: 15vw;

}
.layer-5-group .headingLabelAlt
{
   display: none;
}

.layer-5-group .headingLabel
{
   color: #33B8FF;
   font: normal normal 600 1.3em Poppins;
   position: relative;
   display: block;
   padding-top: 10vh;
   margin-bottom: 3vh;
}

.layer-5-group .layer-5-section-1 div, .layer-5-group .layer-5-section-2 div
{
   font: normal normal 300 1em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   position: absolute;
   margin-top: 5vh;
   margin-left: 18vw;
   text-wrap: normal;
   width: 68vw;
   line-height: 1.6em;
}

.layer-5-group .layer-5-section-1 div button, .layer-5-group .layer-5-section-2 div button
{
   text-align: center;
   font: normal normal 400 0.8em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   background: #24A361;
   border: none;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1.5em;
   padding-right: 2em;
   border-radius: 10px;
   margin-left: 15vw;
   margin-top: 3.5vh;
   display: block;
   cursor: pointer;
}

.layer-5-group .layer-5-section-1 div a, .layer-5-group .layer-5-section-2 div a
{
   text-decoration: none;
}

.layer-5-section-2
{
   background: #011B29;
   height:100vh;
   text-align: center;
}

.layer-5-section-2 img
{
   width: 45vw;
   object-fit: contain;
   margin-top: 2vh;
   margin-left: 15vw;
   margin-right: 15vw;
}
