.carouselFrame
{
   position: relative;
   background-image: url('../../cssimages/blue_soft_bg_plain.webp');
   background-size: cover;
   background-position: center;
   background-repeat:no-repeat;
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   z-index: 9999;
}

.carouselFrame img{
   /*height: 100vh;*/
   width: 100%;
   max-width: 100vw;
   /*transform: scale(0.5);*/
}

.carouselFrame .carouselFrameCaption {
   /*float: left;*/
   position: absolute;
   left: 0px;
   top: 100vw;
   z-index: 1000;
   padding: 5vw;
   width: 100%;
   height: 50vw;

}


.carouselFrameCaption .carouselFrameCaptionItem1
{
   font: normal normal 800 10vw Poppins;
   color: #FFFFFF;
   text-shadow: 5px 5px 5px #00000057;
}


.carouselFrameCaption .carouselFrameCaptionItem2
{
   font: italic normal bold 10vw Lora;
   letter-spacing: 0px;
   color: #0088D1;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   margin-left: 3vw;

   padding-left: 3.5vw;
   padding-right: 3.5vw;
   border-radius: 3px;
}

.carouselFrame .carouselLastItem
{
   position: inherit!important;
   /*position: absolute;*/
   left: 0px;
   top: 5vw;
   z-index: 1000;
   padding: 5vw;
   width: 100%;
   height: 140vw;
}

.carouselLastItem .carouselFrameCaptionItem1, .carouselLastItem .carouselFrameCaptionItem2
{
   display: none;
}

.carouselFrameCaption .carouselFrameCaptionItem1-mobile
{
   font: normal normal 800 20vw Poppins;
   color: #FFFFFF;
   text-shadow: 5px 5px 5px #00000057;
}



.carouselFrameCaptionItem2-pre
{
   color: #FFFFFF;
   text-shadow: 5px 5px 5px #00000057;
   margin-left: -23vw;
   font: normal normal 800 18vw Poppins!important;

}

.carouselFrameCaption .carouselFrameCaptionItem2-mobile
{
   font: italic normal bold 13.5vw Lora;
   letter-spacing: 0px;
   color: #0076B5;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   margin-left: 5vw;
   padding-top: 0vh;
   padding-bottom: 0vh;
   padding-left: 3.5vw;
   padding-right: 3.5vw;
   border-radius: 3px;
}

.margin-left
{
   float: right;
   overflow: hidden;
}

.align-left
{
   display: inline-grid;
   text-align: left;
}


.carouselFrameCaption .carouselEndingPreText
{
   font: normal normal 800 4.5vw Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   margin-bottom: -4vw;
   width: 70vw;
   /*text-align: left;*/
}


.carouselLastItem{
   margin-top: 50vw;
   margin-left: 40vw;
}


.carouselLastItemGroup
{
   position: relative;
   margin-left: 8vw;
}

.carouselLastItemGroup2
{
   position: absolute;
   text-align: left;
   padding-top: 25vw;
}


.layer-1
{
   width: 100vw;
   height: 100vh;
   z-index:99;
}

.layer-1-sub-text
{
   display: none;
}

.bannerFrame
{
   position: relative;
   background-image: url('../../cssimages/blue_soft_bg.webp');
   background-size: cover;
   height: 95vh;
   background-position: center;
   background-repeat:no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   z-index: 9999;
   overflow: hidden;

}

.bannerFrame .mainBanner
{
   z-index: 99;
   position: absolute;
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   text-align: center;
}

.bannerFrame .mainBanner img
{
   transform: scale(1.2);
   height: 65vh;
   width: auto;
   margin-top: 24vh;
   margin-left: -20vw;
}


.main_banner_text_group
{
   position: absolute;
   top: 62vh;
   left: 6vw;
   z-index: 999;
   width: 80vw;
}

.main_banner_text
{
   font: normal normal 800 8vw Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   background: #002E45 0% 0% no-repeat padding-box;
   border-radius: 10px 10px 0px 10px;
   padding: 0.025vh 0.8vw 0.025vh 0.8vw;
   word-spacing: 0.5vw;
   width: 72vw;
   text-align: center;
}

.main_banner_text_action_section_white_bar
{
   width: 20vw;
   height: 5px;
   padding-left: 18vw;
   background: white;
   float: right;
   margin-top: -0.1vw;
   margin-right: -5vw;
}

.main_banner_text_action_section button
{
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-radius: 0px 0px 10px 10px;
   padding: 1.5vh 1.5vw 1.5vh 1.5vw;
   text-align: center;
   font: normal normal 600 3.5vw Poppins;
   color: #00A6FF;
   border: none;
   width: 30vw;
   margin-top: -0.01vw;
   margin-left: -8vw;
}

.main_banner_text span
{
   font: italic normal bold 1em Lora;
   letter-spacing: 0px;
   color: #00A6FF;
}


/*##################### Layer 2 Section ##################*/
.layer-2
{
   background: transparent radial-gradient(closest-side at 50% 50%, #023550 0%, #000000 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
   z-index:99;
   position:relative;
   padding-top: 8vh;
   margin-top: -8vh;
   height: auto;
}

.layer-2-main-text-group
{
   text-align: center;
}
.layer-2-main-text
{
   margin: 0 auto;
   color: #33B8FF;
   font: normal normal bold 1.6em Poppins;
   letter-spacing: 0px;
   width: 80vw;
}

.layer-2-main-text span
{
   color: white;
}

.layer-2-main-text-2
{
   text-align: center;
   font: normal normal 200 3.5vw Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   width: 80vw;
   margin: 1.5em auto;
   margin-bottom: 2vh;
}


.layer-2-main-iphone-group
{
   margin-top: 10em;
   width: 100%;
   display: flex;
}



.iphone-feature-pod
{
   display: none;
}


.iphone_frame
{
   width: 80vw;
   margin-top: -15vh;
   margin-left: -20vw;
   margin-bottom: -10.5vw;
}

.iphone_frame_pretext
{
   color: #55C4FF;
   text-align: center;
   font: normal normal normal 2.5vw Poppins;
   opacity: 0.6;
   position: absolute;
   margin-top: -14vh;
   margin-left: -1vw;
   width: 35vw;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
   animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
   from {
      text-shadow: none;
      opacity: 0.6;
   }
   to {
      text-shadow: 0px 0px 20px #00A6FF;
      opacity: 1;
   }
}


.layer-2-main-iphone-group .col-4:nth-child(2)
{
   /*position: absolute;*/
}
.layer-2-main-iphone-group .col-4:nth-child(2) button
{
   color: white;
   background: #24A361;
   text-align: center;
   font: normal normal normal 3vw Poppins;
   letter-spacing: 0px;
   border-radius: 10px;
   border: none;
   padding: 1.5vh 1.5vw 1.5vh 1.5vw;
   position: relative;
   bottom: 10vw;
   top: -8vw;
   left: -10vw;
   width: 50vw;
}

.layer-2-main-iphone-group .col-4:nth-child(2) button img
{
   width: 0.8em;
   margin-right: -8px;
}

.iphone_frame_mobile_cards
{
   position: absolute;
   display: flex;
   background: rgba(0, 13, 20, 0.7);
   padding: 3vh 3vw 3vh 5vw;
   margin-top: -70vw;
   width: 100vw;
   margin-left: -40vw;
   z-index: 999;
   overflow: scroll;

}

.iphone_frame_mobile_cards .iphone-feature-pod-mobile
{
   display: block;
}

.iphone-feature-pod-mobile
{
   border: 2px solid #00A6FF33;
   border-radius: 10px;
   opacity: 1;
   padding: 3vh 10vw 2vh 6vw;
   height: auto;
   width: 40vw;
   max-height: 30vw;
   text-align: center;
   vertical-align: center;
   margin-right: 6vw;
}

.iphone-feature-pod-mobile:hover{
   box-shadow: 0px 0px 10px #00A6FF;
}

.iphone-feature-pod-mobile img
{
   width: 10vw;
   padding-top: 1vw;
   padding-left: 3vw;
}

.iphone-feature-pod-mobile label
{
   text-align: center;
   font: normal normal 500 2.5vw Poppins;
   letter-spacing: 0px;
   color: #00A6FF;
   padding-top: 4vw;
   padding-left: 2vw;
   width: 15vw;
}


/*##################### Layer 3 Section ##################*/

.layer-3
{
   position: relative;
   background: white;
   text-align: center;
   height: 270vw;
}

.layer-3-ribbon
{
   display:block;
   position: relative;
}

.layer-3-ribbon-title
{
   margin-top: 8.5vh;
   font: normal normal 600 4vw Poppins;
   color: #24A361;
   margin-bottom: 5vh;
}

.layer-3-ribbon-groups-title-image img
{
   width: 100%;
   max-width: 14vw;
   margin-top: 2vh;
}

.layer-3-ribbon-groups-title label
{
   margin-top: 2vh;
   width: 60vw;
   font: normal normal 600 4vw Poppins;
   letter-spacing: -0.9px;
   color: #195E80;
   margin-bottom: 1.5vh;
}

.layer-3-ribbon-groups-content
{
   display: block;
   font: normal normal normal 3.5vw Poppins;
   letter-spacing: 0px;
   color: #505050;
   margin-bottom: 10vw;
   width: 85vw;
   padding-left: 10vw;
}


/*##################### Layer 4 Section ##################*/

.layer-4
{
   padding-top: 25vw;
   background: #EDF2F5;
   opacity: 1;
   height: 220vw;
   text-align: center;
}

.layer-4-section img
{
   width: 90vw;
   position: absolute;
   margin-top: -8vw;
   margin-left: -45vw;
}

.layer-4-section:first-child
{
   position: absolute;
   margin-top: 60vw;
}

.layer-4-section-button button
{
   background: #24A361;
   font: normal normal 400 3vw Poppins;
   border: none;
   border-radius: 10px;
   color: white;
   padding: 1.8vh 4vw 1.8vh 3vw;
   margin-top: 6vw;
   cursor: pointer;
}

.layer-4-section-title
{
   color: #24A361;
   font: normal normal 600 3.5vw Poppins;
   letter-spacing: 1px;
   margin-top: 10vw;
}
.layer-4-section-body
{
   font: normal normal 500 3.5vw Poppins;
   letter-spacing: 0px;
   color: #505050;
   width: 80%;
   padding-top: 4vw;
   line-height: 5.5vw;

}

/*##################### Layer 5 Section ##################*/

.layer-5
{
   opacity: 1;
   z-index:99;
   position:relative;
   /*height:100vh;*/
}


.layer-5-section-1
{
   background: #012E45;
   height:200vw;
   margin-top: -1vh;
   text-align: center;
}

.layer-5-section-1 img
{
   width: 45vw;
   object-fit: contain;
   margin-top: 2vh;
   margin-left: 15vw;
   margin-right: 15vw;

}
.layer-5-group .headingLabelAlt
{
   display: none;
}

.layer-5-group .headingLabel
{
   color: #33B8FF;
   font: normal normal 600 1.3em Poppins;
   position: relative;
   display: block;
   padding-top: 10vh;
   margin-bottom: 3vh;
}

.layer-5-group .layer-5-section-1 div, .layer-5-group .layer-5-section-2 div
{
   font: normal normal 300 1em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   position: absolute;
   margin-top: 5vh;
   margin-left: 18vw;
   text-wrap: normal;
   width: 68vw;
   line-height: 1.6em;
}

.layer-5-group .layer-5-section-1 div button, .layer-5-group .layer-5-section-2 div button
{
   text-align: center;
   font: normal normal 400 0.8em Poppins;
   letter-spacing: 0px;
   color: #FFFFFF;
   background: #24A361;
   border: none;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1.5em;
   padding-right: 2em;
   border-radius: 10px;
   margin-left: 15vw;
   margin-top: 3.5vh;
   display: block;
   cursor: pointer;
}

.layer-5-group .layer-5-section-1 div a, .layer-5-group .layer-5-section-2 div a
{
   text-decoration: none;
}

.layer-5-section-2
{
   background: #011B29;
   height:200vw;
   text-align: center;
}

.layer-5-section-2 img
{
   width: 45vw;
   object-fit: contain;
   margin-top: 2vh;
   margin-left: 15vw;
   margin-right: 15vw;
}
