@import 'big/_index.css';
@import 'big/_contact.css';
@import 'big/_about.css';
@import 'big/_personal.css';
@import 'big/_business.css';
@import 'big/_careers.css';
@import 'big/_terms.css';
@import 'big/_privacy.css';



.NavHeader
{
    width: 100%;
    background: transparent;
    overflow: hidden;
    display: flex;
    max-height: 10vh;
    position: fixed;
    z-index: 99999;
}

.NavHeader-nosticky
{
    width: 100%;
    background: transparent;
    overflow: hidden;
    display: flex;
    max-height: 10vh;
    position: absolute;
    z-index: 99999;
}

.Navlinks
{
    flex: 1;
    text-align: right;
    margin-right: 3vw;
    padding-top: 3vh;
    position: relative;
}

.MainLogo
{
    background: #002E45;
    border-radius: 0px 0px 10px 10px;
    padding: 25px;
    width: 100%;
    max-width: 13vw;
    margin-left: 5vw;
    flex: 1;
    text-align: center;
}



.Navlinks a
{
    list-style: none;
    font: normal normal normal 1.2em Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 40px 15px 16px;
    text-decoration: none;
}


.Navlinks button
{
    text-align: left;
    font: normal normal 600 1.1em Poppins;
    letter-spacing: 0px;
    background: #0BA830;
    color: white;
    border-radius: 12px;
    padding: 7px 20px 7px 20px;
    width: 10.5em;
    height: 2.5em;
    box-shadow: none;
    margin-left: 1vw;
    margin-right: 60px;
    border: none;
}

.Navlinks button img{
    color: white;
    width: 0.8em;
    margin-left: 15px;
}

.MainLogo-light
{
    padding: 25px;
    width: 100%;
    max-width: 13vw;
    margin-left: 7.5vw;
    flex: 1;
    text-align: center;
}

.Navlinks-light
{
    flex: 1;
    text-align: right;
    margin-left: 60px;
    padding-top: 30px;
    position: relative;
}

.Navlinks-light a
{
    list-style: none;
    font: normal normal normal 1.2em Poppins;
    letter-spacing: 0px;
    color: #505050;
    text-align: center;
    padding: 20px 40px 15px 16px;
    text-decoration: none;
}

.Navlinks-light button
{
    text-align: left;
    font: normal normal 600 1.1em Poppins;
    letter-spacing: 0px;
    background: #0BA830;
    color: white;
    border-radius: 12px;
    padding: 7px 20px 7px 20px;
    width: 10.5em;
    height: 2.5em;
    box-shadow: none;
    margin-left: 1vw;
    margin-right: 8vw;
    border: none;
}

.Navlinks-light button img{
    color: white;
    width: 0.8em;
    margin-left: 15px;
}

.Navlinks-light-active
{
    color: #0993DC!important;
}


.MainLogo-deep
{
    padding: 25px;
    width: 100%;
    max-width: 13vw;
    margin-left: 7.5vw;
    flex: 1;
    text-align: center;
}

.Navlinks-deep
{
    flex: 1;
    text-align: right;
    margin-left: 60px;
    padding-top: 30px;
    position: relative;
}

.Navlinks-deep a
{
    list-style: none;
    font: normal normal normal 1.2em Poppins;
    letter-spacing: 0px;
    color: #0993DC;
    text-align: center;
    padding: 20px 40px 15px 16px;
    text-decoration: none;
}

.Navlinks-deep button
{
    text-align: left;
    font: normal normal 600 1.1em Poppins;
    letter-spacing: 0px;
    background: #0BA830;
    color: white;
    border-radius: 12px;
    padding: 7px 20px 7px 20px;
    width: 10.5em;
    height: 2.5em;
    box-shadow: none;
    margin-left: 1vw;
    margin-right: 8vw;
    border: none;
}


.Navlinks-deep button img{
    color: white;
    width: 0.8em;
    margin-left: 15px;
}

.Navlinks-deep-active
{
    color: #FFFFFF!important;
}


.footer
{
    background: #EDF2F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 10vh;
    padding-bottom: 2vh;
    z-index:99;
    position:relative;
}

.footer-ribbon
{
    background: #0076B5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: 0vh 12vw 2vh 12vw;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 5em;
    padding-right: 5em;
}

.footer-ribbon label
{
    font: normal normal bold 3.5em Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 30vw;
    margin-right: 8vw;
}

.footer-ribbon img
{
    width: 10vw;
    margin-left: 4vw;
    margin-top: -10vh;
}
