@import 'mobile/_index.css';
@import 'mobile/_contact.css';
@import 'mobile/_about.css';
@import 'mobile/_personal.css';
@import 'mobile/_business.css';
@import 'mobile/_careers.css';
@import 'mobile/_terms.css';
@import 'mobile/_privacy.css';


.NavHeader
{
    width: 100%;
    background: transparent;
    /*overflow: hidden;*/
    display: flex;
    max-height: 10vw;
    /*position: fixed;*/
    position: absolute;
    z-index: 999999;
    /*overflow-x: hidden;*/
}

.NavHeader-nosticky
{
    width: 100%;
    background: transparent;
    /*overflow: hidden;*/
    display: flex;
    max-height: 10vh;
    padding-top: 0.2vh;
    position: absolute;
    z-index: 999999;
}

.MainLogo
{
    background: #002E45;
    border-radius: 0px 0px 10px 10px;
    padding: 2.2vh 2vh 0vh 2vh;
    width: 100%;
    height: 7.5vh;
    max-width: 36vw;
    margin-left: 5vw;
    flex: 1;
    text-align: center;
}

.MainLogo img
{
    max-width: 28vw;
}

.Navlinks
{
    width: 10vw;

}

.MainLogo-deep
{
    padding: 25px;
    width: 100%;
    max-width: 36vw;
    margin-left: 2vw;
    flex: 1;
    text-align: center;
}

.MainLogo-deep img, .MainLogo-light img
{
    max-width: 35vw;
}

.MainLogo-light
{
    padding: 25px;
    width: 100%;
    max-width: 36vw;
    margin-left: 2vw;
    flex: 1;
    text-align: center;
}

.download-overlay
{
    display: none;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
}

.download-overlay-section
{
    margin-top: 60vw;
    margin-left: 23vw;

}

.download-overlay-section a:first-child  img
{
    width: 55vw;
    display: block;
    margin-bottom: 10vw;

    animation: download-overlay-frames-down .3s linear;
    transition: .2s ease-in-out;
}

.download-overlay-section a:nth-child(2) img
{
    width: 55vw;
    display: block;
    margin-bottom: 10vw;

    animation: download-overlay-frames-up .3s linear;
    transition: .2s ease-in-out;
}

@keyframes download-overlay-frames-up {
    0% {
        transform: translateY(20vw);
    }
    100% {
        transform: translateY(0vw);
    }
}

@keyframes download-overlay-frames-down {
    0% {
        transform: translateY(-20vw);
    }
    100% {
        transform: translateY(0vw);
    }
}


#menuToggle
{
    display: block;
    /*position: absolute;*/
    margin-top: 7vw;
    margin-left: 45vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{

    display: block;
    width: 10vw;
    height: 10vw;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 100; /* and place it over the hamburger */
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#menu a
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 99;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.NavHeader-nosticky #menuToggle span
{
    background: rgba(90, 90, 90, 0.7);
}


#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu .close-burger-menu
{
    color: white;
    margin-top: -10vw;
    margin-left: 70vw;
    position: absolute;
    font-size: 8vw;
    -webkit-animation:spin 2s ease-in-out;
    -moz-animation:spin 2s ease-in-out;
    animation:spin 2s ease-in-out;
}

@-moz-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 110vh;
    margin: -10vw 0 0 0;
    padding-left: 15vw;
    padding-top: 20vw;
    right: 0px;


    background: #002E45;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a
{
    text-decoration: none;
}

#menu li
{
    padding: 2.5vw 0;
    color: #0993DC;
    font: normal normal normal 5.5vw Poppins;
}

#menu .menu-logo
{
  margin-bottom: 12vw;
  width: 35vw;
  cursor: pointer;
}

#menu .menu-privacy-label
{
    margin-top: 30vw;
    margin-bottom: 5vw;
}

#menu label
{
    color: #FFFFFF;
    font: normal normal normal 3.5vw Poppins;
    opacity: 0.6;
    display: block;
}

#menu .menu-stores
{
    display: flex;
    padding-top: 8vw;
 }

#menu .menu-stores img
{
    width: 35vw;
}

#menu .menu-stores img:first-child
{
    margin-right: 5vw;
}


/*
 * And let's fade it in from the left
 */


#menuToggle input:checked ~ #menu
{
 display: block;
}

#menuToggle input:checked ~ main
{
    position: fixed;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.footer
{
    background: #000A0F 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 12vw;
    padding-bottom: 5vw;
    z-index:99;
    position:relative;
}

.footer-header
{
    text-align: center;
}

.footer-header label
{
    font: normal normal bold 8vw Lora;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 72vw;
    margin-top: 3vw;
}

.footer-section-2
{
    margin-top: 10vw;
    text-align: center;
}

.footer-section-2 img
{
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 5vw;
    display: block;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.footer-section-3
{
    margin-top: 15vw;
    display: block;
    text-align: center;
}

.footer-section-3-group
{
    margin-bottom: 15vw;
}


.footer-section-3-group-sub
{
    margin-top: 15vw;
}


.footer-section-3-group a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.footer-section-3-group-sub img
{
    width: 5vw;
    margin-right: 0.5vw;
}

.footer-section-3-group label
{
    font: normal normal normal 4vw Poppins;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    margin-top: 2vh;
    cursor: inherit;
}

.footer-section-3-group a
{
    cursor: pointer;
}

.footer-section-3-group .footer-section-3-group-category
{
    font: normal normal normal 4vw Poppins;
    letter-spacing: 0px;
    color: #5A5A5A;
    display: block;
    margin-bottom: 3vh;
}

.footer-section-3-group-socials
{
    display: flex;
    margin-left: 28vw;
}

.footer-section-3-group-socials img
{
    width: 8vw;
    margin-right: 5vw;
}

.footer-section-4
{
    margin-top: 12vh;
    display: flex;
}

.footer-section-3-group-last
{
    margin-left: 10vw;
}

.footer-section-3-group-last img
{
    width: 35vw;
    margin-left: 22vw;
}

.footer-section-3-group-last div
{
    width: 80vw;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    margin-top: 4.5vh;
}

.footer-section-3-group-last label
{
    font: normal normal normal 3vw Poppins;
    letter-spacing: 0px;
    margin-top: 2vh;
    color: #5A5A5A;
}
