
.contact-layer-1
{
    background: #F3F5F6;
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.contact-layer-1-group
{
    display: inline-flex;
}

.contact-layer-1-section-1
{
    width: 50%;
    padding-left: 10vw;
}

.contact-layer-1-section-2
{
    width: 50%;
    padding-left: 10vw;
}
.contact-layer-1-section-1 label
{
    font: normal normal 600 3vw Poppins;
    letter-spacing: 0px;
    color: #002E45;
    width: 25vw;
    margin-top: -1.5vw;
    line-height: 3vw;
}

.contact-layer-1-section-1 > label:nth-child(2)
{
    text-align: left;
    font: normal normal normal 1.1vw Poppins;
    letter-spacing: 0px;
    color: #505050;
    margin-top: 1.2vw;
    width: 30vw;
    margin-bottom: 1vw;
}

.contact-ng-address
{
    display: inline-flex;
    margin-top: 2.5vw;
    width: 30vw;
}

.contact-uk-address
{
    display: inline-flex;
    margin-top: 1vw;
    width: 30vw;
}

.contact-ng-address-img
{
  width: 100%;
  margin-top: 0.2vw;
  max-width: 30px;
  max-height: 30px;
}

.contact-uk-address-img
{
    width: 100%;
    margin-top: 0.3vw;
    max-width: 30px;
    max-height: 20px;
}

.contact-ng-address label
{
    text-align: left;
    font: normal normal normal 1vw Poppins;
    letter-spacing: 0px;
    color: #505050;
    margin-top: 0.2vw;
    margin-left: 0.8vw;
}

.contact-uk-address label
{
    text-align: left;
    font: normal normal normal 1vw Poppins;
    letter-spacing: 0px;
    color: #505050;
    margin-left: 0.8vw;
    margin-top: 0vw;
}

.contact-email-box
{
    background: #D2E7F2 0% 0% no-repeat padding-box;
    border-radius: 15px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 22vw;
    display: inline-flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.contact-email-box img
{
    max-width: 2vw;
    max-height: 2vw;
   margin-left: 1vw;
}

.contact-email-box a
{
    font: normal normal 600 0.9vw Poppins;
    letter-spacing: 0px;
    color: #002E45;
    text-decoration: none;
    margin-left: 2vw;
    margin-top: 1vh;
}

.contact-callcenter-box
{
    background: #D2E7F2 0% 0% no-repeat padding-box;
    border-radius: 15px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 22vw;
    display: inline-flex;
    margin-bottom: 2vw;
}

.contact-callcenter-box img
{
    max-width: 2vw;
    max-height: 2vw;
    margin-left: 1vw;
}

.contact-callcenter-box label
{
    font: normal normal 600 0.9vw Poppins;
    letter-spacing: 0px;
    color: #002E45;
    text-decoration: none;
    margin-left: 2vw;
    margin-top: 1vh;
}

.contact-social-box
{
    background: #D2E7F2 0% 0% no-repeat padding-box;
    border-radius: 15px;
    padding-top: 3.5vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 3vw;
    width: 22vw;
    display: inline-flex;
    margin-bottom: 1.5vw;
}

.contact-social-box img
{
    max-width: 1.2vw;
    max-height: 1.2vw;
    margin-left: 1vw;
}

.contact-social-box label
{
    font: normal normal 600 0.8vw Poppins;
    letter-spacing: 0px;
    color: #002E45;
    text-decoration: none;
    margin-left: 2vw;
}
