.carouselFrame
{
  position: relative;
  background-image: url('../../cssimages/blue_soft_bg_2x.webp');
  background-size: cover;
  height: 100vh;
  background-repeat:round;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  z-index: 9999;

  overflow: hidden;
}

.carouselFrame img {
  height: 100vh;
  width: auto!important;
}

.carouselFrame .carouselFrameCaption{
  /*float: left;*/
  position: absolute;
  top: 52vh;
  z-index: 1000;
  padding: 2vw;
  width: 100%;

}

.carouselLastItem{
  top: 40vh!important;
  float: right;
}

.carouselFrameCaptionItem1-mobile,.carouselFrameCaptionItem2-mobile,.carouselFrameCaptionItem2-pre
{
  display: none;
}


.carouselFrameCaption .carouselFrameCaptionItem1
{
  font: normal normal 800 5vw Poppins;
  color: #FFFFFF;
  text-shadow: 5px 5px 5px #00000057;
  /*margin-left: -3vw;*/
}


.carouselFrameCaption .carouselFrameCaptionItem2
{
  font: italic normal bold 5vw Lora;
  letter-spacing: 0px;
  color: #0088D1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin-left: 1.5vw;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  padding-left: 1vw;
  padding-right:1vw;
  border-radius: 5px;
}

.margin-left
{
  float: right;
  overflow: hidden;
}

.align-left
{
  display: inline-grid;
  text-align: left;
}

.carouselFrameCaption .carouselEndingPreText
{
  font: normal normal 800 1.6vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: -1vw;
}

.carouselLastItemGroup
{
  position: relative;
  margin-left: 5vw;
}

.carouselLastItemGroup2
{
  text-align: left;
  padding-top: 2vh;
  margin-left: -1.7vw;
}

.bannerFrame
{
  position: relative;
  background-image: url('../../cssimages/blue_soft_bg_2x.webp');
  background-size: cover;
  height: 100vh;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  z-index: 9999;
  overflow: hidden;
}

.bannerFrame .mainBanner
{
  z-index: 99;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.bannerFrame .mainBanner img
{
  height:100vh;
  width: auto;
}

.main_banner_text_group
{
  position: absolute;
  top: 65vh;
  left: 25vw;
  z-index: 999;
  width: 45vw;
}

.main_banner_text
{
  font: normal normal 800 3.3vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #002E45 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 10px;
  padding: 0.025vh 0.5vw 0.025rem 0.5rem;
  word-spacing: 0.1vw;
  max-width: 35vw;
  margin-left: 7vw;
  text-align: center;
}

.main_banner_text_action_section
{
  /*z-index: 999;*/
  /*top: 2vh;*/
  /*left: 50vw;*/


}

.main_banner_text_action_section_white_bar
{
  width: 1.5vw;
  height: 7px;
  padding-left: 10vw;
  background: white;
  float: right;
  margin-right: -6vw;
}

.main_banner_text_action_section button
{
  float: left;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  padding: 1.2vw;
  text-align: center;
  font: normal normal 600 1vw Poppins;
  letter-spacing: 0px;
  color: #00A6FF;
  border: none;
  width: 10.5vw;
  margin-left: 2.5vw;
}

.main_banner_text span
{
  font: italic normal bold 3.3vw Lora;
  letter-spacing: 0px;
  color: #00A6FF;
}


.layer-1
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index:99;
}

.layer-1-sub-text
{
  font: normal normal normal 1vw Poppins;
  letter-spacing: 0px;
  position: absolute;
  color: #FFFFFF;
  z-index: 999;
  top: 10vw;
  left: 10vw;
  width: 20vw;
  max-width: 25vw;
  text-wrap: normal;
}

.layer-1-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../cssimages/index_bg_pattern.webp");
  opacity: 0.1;
  z-index: 9;
}



/*##################### Layer 2 Section ##################*/
.layer-2
{
  margin-top:100vh;
  background: transparent radial-gradient(closest-side at 50% 50%, #023550 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index:99;
  position:relative;
  padding-top: 5vw;
  padding-bottom: 15vw;
}

.layer-2-main-text-group
{
  text-align: center;
}
.layer-2-main-text
{
  margin: 0 auto;
  color: #33B8FF;
  font: normal normal bold 2.5vw Poppins;
  letter-spacing: 0px;
  width: 40vw;
  line-height: 3vw;
}

.layer-2-main-text span
{
  color: white;
}

.layer-2-main-text-2
{
  text-align: center;
  font: normal normal 200 1vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 25vw;
  margin: 1.5vw auto;
  margin-bottom: 2vw;
}

.layer-2-main-iphone-group
{
  margin-top: 10vw;
  width: 100%;
  display: flex;
}

.layer-2-main-iphone-group .col-4:first-child
{
  text-align: center;
}

.layer-2-main-iphone-group .col-4:nth-child(2)
{
  text-align: center;
  margin: 0 auto;
}

.iphone_frame
{
  width: 100%;
  margin-top: 10vw;
}

.iphone_frame_pretext
{
  color: #55C4FF;
  text-align: center;
  font: normal normal normal 0.9vw Poppins;
  opacity: 0.6;
  position: absolute;
  margin-top: 10vw;
  margin-left: 7.5vw;
  width: 12vw;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: none;
    opacity: 0.6;
  }
  to {
    text-shadow: 0px 0px 20px #00A6FF;
    opacity: 1;
  }
}



.layer-2-main-iphone-group .col-4:nth-child(2) button
{
  color: white;
  background: #24A361;
  text-align: center;
  font: normal normal normal 0.8vw Poppins;
  letter-spacing: 0px;
  border-radius: 10px;
  border: none;
  padding: 2vh 2vw 2vh 2vw;
  position: relative;
  bottom: 8vw;
  left: -1vw;

}

.layer-2-main-iphone-group .col-4:nth-child(2) button img
{
  width: 0.8vw;
  margin-right: -0.5vw;
}

.layer-2-main-iphone-group .col-4:last-child
{
  text-align: center;
}

.iphone-feature-pod
{
  border: 2px solid #00A6FF33;
  border-radius: 10px;
  opacity: 1;
  padding: 4vh 2vw 2vh 1.5vw;
  height: auto;
  width: 10vw;
  text-align: center;
  vertical-align: center;
  display: block;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(1) img
{
  margin-top: -0.5vw;
  width: 3vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(3) img
{
  margin-top: -0.5vw;
  width: 3vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(4) img
{
  margin-top: -0.5vw;
  width: 2.5vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(5) img
{
  margin-top: -0.5vw;
  width: 2.5vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(2) img
{
  margin-top: -0.5vw;
  width: 2.2vw;
}

.layer-2-main-iphone-group .col-4:nth-child(2) .iphone-feature-pod:nth-child(1) img
{
  margin-top: -0.5vw;
  width: 2.2vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(2) img
{
  margin-top: -0.5vw;
  width: 2.2vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(3) img
{
  margin-top: -0.5vw;
  width: 2.2vw;
}

.iphone_frame_mobile_cards
{
  display: none;
}

.iphone-feature-pod:hover{
  box-shadow: 0px 0px 20px #00A6FF;
}

.iphone-feature-pod img
{
  width: 3vw;
}

.layer-2-main-iphone-group .col-4:nth-child(2) .iphone-feature-pod:first-child
{
  margin-top: -3vw;
  margin-left: 15vw;
  margin-bottom: 0vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:first-child
{
  margin-top: 2vw;
  margin-left: 25vw;
  margin-bottom: 6vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(2)
{
  margin-top: -3vw;
  margin-left: 8vw;
  margin-bottom: 4vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(3)
{
  margin-top: 2vw;
  margin-left: 18vw;
  margin-bottom: 4vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(4)
{
  margin-top: 4vw;
  margin-left: 8vw;
  margin-bottom: 4vw;
}

.layer-2-main-iphone-group .col-4:nth-child(1) .iphone-feature-pod:nth-child(5)
{
  margin-top: 4vw;
  margin-left: 18vw;
  margin-bottom: 8vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(1)
{
  margin-top: 5vw;
  margin-left: -1vw;
  margin-bottom: 8vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(2)
{
  margin-top: -4vw;
  margin-left: 12vw;
  margin-bottom: 8vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(3)
{
  margin-top: 6vw;
  margin-left: 7vw;
  margin-bottom: 8vw;
}

.layer-2-main-iphone-group .col-4:nth-child(3) .iphone-feature-pod:nth-child(4)
{
  margin-top: -2vw;
  margin-left: 8vw;
  margin-bottom: 8vw;
}

.iphone-feature-pod label
{
  text-align: center;
  font: normal normal 500 0.8vw Poppins;
  letter-spacing: 0px;
  color: #00A6FF;
  padding-top: 15px;
  width: 5vw;
}

/*##################### Layer 3 Section ##################*/

.layer-3
{
  background: transparent;
  z-index:100;
  position: relative;

  /*width: 100%*/
}

.layer-3-ribbon
{
  background: white;
  float: right;
  border-radius: 0vh 10vw 0vh 10vw;
  height: 26vw;
  width: 90vw;
  margin-top: -20vw;
}

.layer-3-ribbon-title
{
  padding-top: 4vw;
  padding-left: 6vw;
  font: normal normal normal 0.9vw Poppins;
  color: #24A361;
}

.layer-3-ribbon-groups
{
  padding-left: 6vw;
  display: flex;
  margin-top: 1vw;
}

.layer-3-ribbon-groups-title-image
{
   width: 100%;
   max-width: 4vw;
}

.layer-3-ribbon-groups-title-image img
{
  width: 100%;
  max-width: 2.5vw;
  margin-top: 1vw;
}

.layer-3-ribbon-groups-title
{
  width: 33%;
}

.layer-3-ribbon-groups-title-flex
{
   display: flex;
}

.layer-3-ribbon-groups-title label
{
  margin-top: 1vw;
  margin-left: -0.2vw;
  line-height: 3vw;
  text-align: left;
  font: normal normal 600 1.2vw Poppins;
  letter-spacing: -0.9px;
  color: #195E80;
}

.layer-3-ribbon-groups-content
{
  position: relative;
  display: block;
  text-align: left;
  font: normal normal normal 1vw Poppins;
  padding-top: 1.2vw;
  letter-spacing: 0px;
  line-height: 1.6vw;
  color: #505050;
  width: 20vw;
}

/*##################### Layer 4 Section ##################*/

.layer-4
{
  padding-top: 10vw;
  background: #EDF2F5;
  opacity: 1;
  z-index:99;
  position:relative;
  margin-top: -5vw;
}

.layer-4-group
{
  margin-top: 10vw;
  display: inline-flex;
  margin-bottom: 1vw;
}

.layer-4-section
{
  width: 50%;
}

.layer-4-section img
{
  width: auto;
  max-width: 70vw;
  margin-top: -10vw;
}

.layer-4-section-title
{
  color: #24A361;
  text-align: left;
  font: normal normal normal 1vw Poppins;
  letter-spacing: 2px;
}
.layer-4-section-body
{
  font: normal normal 500 1.05vw Poppins;
  letter-spacing: 0px;
  color: #505050;
  width: 100%;
  padding-top: 1.5vw;
  line-height: 2vw;
}

.layer-4-group .layer-4-section:first-child
{
  padding-left: 10vw;
}

.layer-4-section-button button
{
  background: #24A361;
  font: normal normal 400 0.8vw Poppins;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1.5vh 2vw 1.5vh 2vw;
  margin-top: 3.5vw;
  cursor: pointer;
}

/*##################### Layer 5 Section ##################*/

.layer-5
{
  opacity: 1;
  z-index:99;
  position:relative;
}

.layer-5-group
{
  display: inline-flex;
  width:100%;
}

.layer-5-section-1
{
  width:50%;
  background: #012E45;
  height:auto;
  padding-bottom: 10vw;
}

.layer-5-section-1 img
{
  width:100%;
  max-width: 16vw;
  /*height:100%;*/
  object-fit: contain;
  /*padding: 15vh 15vw 15vh 20vw;*/
  margin-top: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;

}

.layer-5-group .headingLabel
{
  color: #33B8FF;
  font: normal normal 600 1.2vw Poppins;
  position: relative;
  display: block;
  margin-top: 8vw;
  margin-left: 20vw;
}

 .layer-5-group .headingLabelAlt
 {
   display: none;
   color: #33B8FF;
   font: normal normal 600 1vw Poppins;
   position: absolute;
   margin-left: 20vw;
 }

.layer-5-group .layer-5-section-1 div label, .layer-5-group .layer-5-section-2 div label
{
  color: #33B8FF;
  font: normal normal 600 1.2vw Poppins;
  position: relative;
  display: block;
}

.layer-5-group .layer-5-section-1 div, .layer-5-group .layer-5-section-2 div
{
  display: none;
  font: normal normal 300 1vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  position: relative;
  margin-top: -23vw;
  margin-left: 25vw;
  text-wrap: normal;
  width: 20vw;
  line-height: 1.8vw;
}

.layer-5-group .layer-5-section-1 div button, .layer-5-group .layer-5-section-2 div button
{
  text-align: center;
  font: normal normal 400 0.8vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #24A361;
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1.5vw;
  border-radius: 6px;
  margin-top: 2vw;
  display: block;
  cursor: pointer;
}

.layer-5-group .layer-5-section-1 div a, .layer-5-group .layer-5-section-2 div a
{
  text-decoration: none;
}

.layer-5-section-2
{
  width: 50%;
  background: #011B29;
  height:auto;
  padding-bottom: 10vw;
}

.layer-5-section-2 img
{
  width:100%;
  max-width: 16vw;
  /*height:100%;*/
  object-fit: contain;
  /*padding: 15vh 15vw 15vh 20vw;*/
  margin-top: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;
}



